<div class="right">
<i class="{{ icon }} icon" data-position="top center" data-content="
                                    Last visit
from {{ loginFrom }}
                                    date:
{{ date }}
                                    time:
{{ time }}"></i>
</div>
