<select>
    <option>choose:</option>
    <option value="today">Today</option>
    <option value="week_t">current week</option>
    <option value="month_t">current month</option>
    <option value="quarter_t">current quarter</option>
    <option value="year_t">current year</option>
    <option value="week_n">next week</option>
    <option value="month_n">next month</option>
    <option value="quarter_n">next quarter</option>
    <option value="year_n">next year</option>
    <option value="week_p">previous week</option>
    <option value="month_p">previous month</option>
    <option value="quarter_p">previous quarter</option>
    <option value="year_p">previous year</option>
</select>
