<div class="right">

    <button class="ui green button sel_all">
        <i class="checkmark icon"></i>
        Select all
    </button>

    <input type="hidden" value="0">

</div>

<div class="divider right"></div>

<div class="right act_text">

    <h4 class="ui header">
        <i class="checkmark box icon"></i>
        <div class="content">
            Actions
            <div class="sub header">with marked</div>
        </div>
    </h4>

</div>

<div class="divider right"></div>

<div class="right">
    <button class="ui green button approve">
        <i class="thumbs up icon"></i>
        approve
    </button>
</div>

<div class="divider right"></div>

<div class="right">

    <button class="ui red button delete">
        <i class="thumbs down icon"></i>
        remove
    </button>

</div>


{#
<div class="divider right"></div>

<div class="right">
    <button class="ui black icon button delete" data-position="top center" data-content="להסיר משתמשים">
        <i class="user icon"></i>
    </button>
</div>
#}




